{% extends 'items/main.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
<div class="d-flex flex-column flex-wrap h-100 menu-column-container justify-content-between">
    {% for category in categories %}
    <div class="d-flex flex-column justify-content-between position-relative" style="flex-grow:{{category.items.all|length}}">
    <img class="category-img" src="{{category.image.url}}">
        <h5 class="category-heading">
            {{ category.name }}
        </h5>
        {% for item in category.items.all %}
        <a href="{% url 'add_to_cart' item.id %}" class="text-decoration-none text-reset menu-item d-flex flex-row justify-content-between {% if item.available == False %} sold-out {% endif %}">
            <div>
                <div>{{item.name}}</div>
                <div>{{item.second_name}}</div>
            </div>
            <div class="d-flex flex-column align-items-end">
                <div>
                    {{item.price}}
                </div>
                {% for variant in item.variants.all %}
                <div class="{% if variant.available == False %} sold-out {% endif %}">
                    <em>({{ variant.name }})</em>
                    {{ item.price|addition:variant.markup }}
                </div>
                {% endfor %}
            </div>
        </a>
        {% endfor %}
    </div>
    <div style="flex-grow:{{category.items.all|length}}"></div>
    {% endfor %}
</div>

{% endblock content %}

{% block script %}
<script>
    const categoryImages = document.querySelectorAll('.category-img');
    categoryImages.forEach(image => {
        image.onerror = () => {
            this.onerror=null;
            this.src="{% static 'images/example_tea.jpg' %}";
        }
    })
</script>
{% endblock %}