<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moge Tee Menu</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{% static 'css/main.css' %}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    <div class="error-log">
        {% for message in messages %}
        <div class="alert {{message.tags}}">
            {{message}}
        </div>
        {% endfor %}
    </div>
    <div id="csrftoken">
        {% csrf_token %}
    </div>
    <div class="h-100 d-flex flex-column">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Moge Tee Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <div class="form-inline my-2 my-lg-0 navbar-nav align-items-center">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class='nav-item nav-link'>Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}" class='nav-item nav-link'>Login</a>
                    {% endif %}

                    <a href="{% url 'cart' %}" class="nav-link d-flex">
                        <ion-icon name="cart-outline" size="large"></ion-icon>
                        <label id='num-cart-items'>{{order.get_num_items}}</label>
                    </a>
                </div>
            </div>
        </nav>

        <div class="main-container flex-grow-1 mr-3">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <script type="text/javascript">
        const errorLog = document.querySelector('.error-log');
        if (errorLog) {
            errorLog.addEventListener('click', () => {
                errorLog.hidden = true;
            });

            setTimeout(() => {
                errorLog.hidden = true;
            }, 5000);
        }
    </script>
    <script type="text/javascript">
        const user = '{{request.user}}';
        const isLoggedIn = user !== 'AnonymousUser';

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var cart = JSON.parse(getCookie('cart'));
        if (!cart) {
            cart = []
            document.cookie = `cart=${JSON.stringify(cart)};domain=;path=/`;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    {% block script %}
    {% endblock script %}
</body>

</html>