body {
    height: 100vh;
    position: relative;
}

.icon-link {
    /* font-size: 0; */
    color: white;
}

.cart-row {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.cart-row img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}

#num-cart-items {
    padding-left: 0.25rem;
}

.nav-item {
    font-size: 1.25rem;
}

.main-container {
    overflow: auto;
}

.menu-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 250px;
}

.sold-out {
    text-decoration: line-through red;
}

.category-heading:not(:first-child) {
    margin-top: 1rem;
}

.category-heading {
    position: relative;
}

.category-img {
    width: 3rem;
    object-position: center;
    object-fit: cover; /* Do not scale the image */

    position: absolute;
    left: -4rem;
    top: 1rem;
}

.menu-column-container>* {
    margin-left: 6rem;
}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1em;
    margin: 1em 0;
}

.table {
    margin: 1em 0;
}

ion-icon {
    transition: transform ease-in 200ms;
}

ion-icon:hover {
    transform: scale(1.25);
}

.quantity-number {
    margin-right: 1rem;
}

.error-log {
    opacity: 0.8;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    width: 95vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .order-menu-list>div {
    margin-left: 6rem;
    page-break-inside: avoid;
  }

  .order-menu-list {
    margin-right: 1rem;
    column-count: 1;
  }

  @media (min-width: 768px) {
    .order-menu-list {
        column-count: 2;
    }
  }

  @media (min-width: 1200px) {
    .order-menu-list {
        column-count: 3;
    }
  }